<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>About Your Business</title>
</head>
<body class="bodyBackground">
<!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top py-3">
        <a class="navbar-brand font-weight-bold brand-font" href="index.html" alt="Link to home page">Your Brand or Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavLinks"
            aria-controls="navbarNavLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavLinks">
            <div class="navbar-nav">
                <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold mr-5 active" href="index.html" role="button">HOME</a>
                <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold mr-5 active" href="index.html" role="button">SERVICES</a>
                <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold" href="about.html" role="button">ABOUT US</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold" href="tel:+1112223333" role="button">(111) 222-3333</a>
        </div>
    </nav>
<!-- Jumbotron Section -->
    <div class="jumbotron rounded-0 p-0 jumboBackgroundAbout">
        <div class="row py-5">
            <div class="col-md-9 text-white p-5">
                <h1 class="display-4 font-weight-bold">Promote Your Company Values</h1>
                <p class="jumboContentP">We Stand By Our Values - Another Company Marketing Hook.
                </p>
            </div>
        </div>
    </div>
<!-- Container Starts -->
    <div class="container-fluid">
<!-- Card Section -->
        <div class="row py-5 aboutContentBackground">
            <div class="col-md">
                <h2 class="text-center text-white font-weight-bold">WHAT DRIVES US</h2>
                <div class="row justify-content-around">
                    <div class="col-md-4 my-5">
                        <div class="card"><!-- card one -->
                            <div class="card-body">
                                <h3 class="card-title font-weight-bold text-danger text-center">Personlize the Service or Product</h3>
                                <div class="row font-weight-bold mt-3">
                                    <div class="col-md">
                                        <p>Here we personalize the service/product, or how we we prioritize the customer's experience. Further details or examples to build the value in the service, product or experience.</p>
                                        <p>Here we continue building the value with related content. "Your experience is as important to us as completing the job."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-5">
                        <div class="card"><!-- card two -->
                            <div class="card-body">
                                <h3 class="card-title font-weight-bold text-danger text-center">Build Consumer Confidence Portion</h3>
                                <div class="row font-weight-bold mt-3">
                                    <div class="col-md">
                                        <p>Industry Experience</p>
                                        <p>Proven Techniques</p>
                                        <p>Product Reliability</p>
                                        <p>New Technology Integration</p>
                                    </div>
                                    <div class="col-md">
                                        <p>Notable Awards Recieved</p>
                                        <p>Efficient Designs</p>
                                        <p>Market Share</p>
                                        <p>Company Growth</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center"><!-- card 3 -->
                    <div class="card p-2" style="max-width: 540px;">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="../public/images/owner_example_pic.jpg" class="img-fluid rounded " alt="image of the owner">
                            </div>
                            <div class="col-md-8">
                                <h3 class="card-title font-weight-bold text-danger text-center">Meet Michael!</h3>
                                <p class="card-text font-weight-bold">Here we can talk about the humble beginnings of the owner or company, owner or company strife that was overcome or the timeline from start to present, etc...</p>
                                <button type="button" class="btn btn-sm btn-primary font-weight-bold" data-toggle="modal" data-target="#ownerModal">More About Michael!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--Customer Feedback starts-->
        <div class="row text-center my-5 py-2 justify-content-center carouselText">
            <div class="col-md-8 mt-5">
                <div class="row">
                    <div class="col-md">
                        <h3 class="font-weight-bold">Customer Feedback</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md py-2">
                        <div id="carouselYelpControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner font-italic">
                                <div class="carousel-item active">
                                    <div class="w-75 mx-auto">
                                        <h4 class="font-weight-bold carouselTypography">Here we can highlight customer experiences, social media reviews, personalized content. This is typically long enough to have some depth or importance, but short enough to consume quickly. Further build confidence through personalization or relatable content. Personalized signoff…</h4>
                                        <p class=" font-weight-bold text-right mr-5 carouselTypography">- Name I.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="w-75 mx-auto">
                                        <h4 class="font-weight-bold carouselTypography">Here we can highlight customer experiences, social media reviews, personalized content. This is typically long enough to have some depth or importance, but short enough to consume quickly. Further build confidence through personalization or relatable content. Personalized signoff…</h4>
                                        <p class="font-weight-bold text-right mr-5 carouselTypography">- Name I.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="w-75 mx-auto">
                                        <h4 class="font-weight-bold carouselTypography">Here we can highlight customer experiences, social media reviews, personalized content. This is typically long enough to have some depth or importance, but short enough to consume quickly. Further build confidence through personalization or relatable content. Personalized signoff…</h4>
                                        <p class="font-weight-bold text-right mr-5 carouselTypography">- Name I.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Service Area -->
        <div class="row text-center my-5 justify-content-center">
            <div class="col-md-3 font-weight-bold py-5 px-3 bg-white rounded-lg mobileSpacing">
                <h3 class="mb-3">General Service Area</h3>
                <p>Some Central Areas</p>
                <p>Cities or Regions</p>
                <p>Other Areas</p>
            </div>
            <div class="col-md-3 my-auto">
                <img src="../public/images/business_icon.JPG" class=" rounded-circle mobileSpacing" alt="Company logo example">
            </div>
            <div class="col-md-3 font-weight-bold py-5 px-3 bg-white rounded-lg">
                <h3>Don't See Your City? Call or Text!</h3>
                <a class="d-block btn btn-lg text-dark font-weight-bold mt-4" href="tel:+1112223333" role="button"><img src="../public/images/phone1.svg" alt="Phone icon" class="mr-1">(111) 222-3333</a>
                <a class="d-block btn btn-lg text-dark font-weight-bold" href="sms:+1112223333" role="button" alt="click to text"><img src="../public/images/text_icon.jpg" alt="Text icon" class="mr-1">Mobile Text!</a>
            </div>
        </div>
<!-- Footer -->
        <div class="row">
            <div class="col-md">
                <hr class="mt-5">
                <div class="row text-center font-weight-bold">
                    <div class="col-md mobileSpacing">
                        <p class="m-auto brand-font">Your Business Logo</p>
                    </div>
                    <div class="col-md mobileSpacing">
                        <p class="m-auto">License #000000</p>
                    </div>
                    <div class="col-md mobileSpacing">
                        <p class="m-auto">Contact or Copyright</p>
                    </div>
                    <div class="col-md">
                        <a class="m-auto" href="https://www.facebook.com" role="link" alt="Link to facebook" target="_blank" rel="noreferrer">Find Us On Facebook!<img src="../public/images/facebook_icon.png" alt="Facebook icon" class="ml-2"></a>
                    </div>
                </div>
                <hr class="mb-5">
            </div>
        </div>
    </div><!-- End of Container -->
<!--Modal-->
    <div class="modal fade" id="ownerModal" tabindex="-1" aria-labelledby="ownerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="ownerModalLabel">Steve - Owner/Operator/Neighbor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Steve's engineering education started around 10 years old in a small Midwest town. Always the tinkerer, he began repairing push lawn mowers for people in the community. Living close to an auto parts store had its advantages and Steve began to understand the value of utilizing all of his resources to complete the task.</p>
                    <p>Moving out West as a teen presented more opportunities for Steve to expand his mechanical skillset with small engine repair in his garage, with many repairs done as favors for neighbors, friends, and family. Even with the busted knuckles and late nights, his Midwest influence always had him looking for opportunities to help someone.</p>
                    <p>By age 18, Steve took a job at a local HVAC company and had no problems advancing with responsibility. Never shying away from the difficult jobs or long hours, he decided a formal education was a good career decision. He enrolled at a Community College and, despite the full-time demands of work, graduated with his Associate in Applied Science, HVACR. A little while later, while raising a family, he completed his Bachelor of Science in HVACR Engineering and Energy Management (Honors) at a State University.</p>
                    <p>Whatever the job or level of difficulty, Steve holds the clients experience with the same importance as the job completion.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>

</html>