<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="SEO Content - Catch Phrase or Marketing Hook. Call us at (111) 222-3333 for Your Services or Products"/>
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Your Business Here | Brief business description and SEO - Location or Service Area</title>
</head>
<body class="bodyBackground">
<!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top py-3">
        <a class="navbar-brand font-weight-bold brand-font" href="index.html" alt="Link to home page">Your Brand or Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavLinks"
            aria-controls="navbarNavLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavLinks">
            <div class="navbar-nav">
                <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold mr-5 active" href="index.html" role="button">HOME</a>
                <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold mr-5 active" href="index.html" role="button">SERVICES</a>
                <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold" href="about.html" role="button">ABOUT US</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-item nav-link btn btn-lg text-dark font-weight-bold" href="tel:+1112223333" role="button">(111) 222-3333</a>
        </div>
    </nav>
<!-- Display Section -->
    <div class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../public/images/living_room2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../public/images/happy_techs.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../public/images/telecomm_tech.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../public/images/drones.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../public/images/cityscape.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
<!-- Container Starts -->
    <div class="container-fluid">
<!-- Intro Content -->
        <div class="row my-5">
            <div class="col-md">
                <div class="row py-5"><!-- Opening Header -->
                    <div class="col-md">
                        <h1 class="text-center font-weight-bold mb-4">Your Highlighted Products or Services</h1>
                    </div>
                </div>
<!--Card Section Starts-->
                <div class="row mb-5 ">
                    <div class="col-md-6 px-5">
                        <h2>Customized Content Thoughtfully Designed for Your Target Audience</h2>
                    </div>
                    <div class="col-md-6">
                        <p>The opportunity to establish <a href="https://hbr.org/2015/11/the-new-science-of-customer-emotions">customer confidence</a> begins with their initial search for a product or service and is shaped by their initial interaction with the providers. We understand that this initial interaction becomes the <a href="https://en.wikipedia.org/wiki/Trust_metric">Trust Metric</a> for your service or product. </p>
                        <p>Building this relationship is personal to both the consumer and the business, and we take that seriously. Tapping on over 20 years of experience in the customer service industry along with a tacful awareness of <a href="https://www.forbes.com/advisor/business/customer-experience-cx/">Customer Experience (CX)</a>, the content will be thoughtfully crafted and iterated with your input leading the way.</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col text-center">
                        <h2>Your Process or Portfolio</h2>
                        <p>Personalize your process for your customers in an interactive way</p>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <h2>Front Side</h2>
                            </div>
                            <div class="flip-box-back">
                                <h2>Back Side</h2>
                            </div>
                        </div>
                    </div>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <h2>Front Side</h2>
                            </div>
                            <div class="flip-box-back">
                                <h2>Back Side</h2>
                            </div>
                        </div>
                    </div>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <h2>Front Side</h2>
                            </div>
                            <div class="flip-box-back">
                                <h2>Back Side</h2>
                            </div>
                        </div>
                    </div>
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <h2>Front Side</h2>
                            </div>
                            <div class="flip-box-back">
                                <h2>Back Side</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col text-center mt-5">
                        <h2>Display Your Portfolio</h2>
                        <p>This is a great opportunity to highlight your business's best work. Display before and after photos, designs, potential benefits to customers or growth goals. The sky is the limit.</p>
                    </div>
                </div>
                <div class="row">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>
<!-- Service Area -->
        <div class="row text-center my-5 justify-content-center">
            <div class="col-md-3 font-weight-bold py-5 px-3 bg-white rounded-lg mobileSpacing">
                <h3 class="mb-3">General Service Area</h3>
                <p>Some Central Areas</p>
                <p>Cities or Regions</p>
                <p>Other Areas</p>
            </div>
            <div class="col-md-3 my-auto">
                <img src="../public/images/business_icon.JPG" class=" rounded-circle mobileSpacing" alt="company logo with wrench">
            </div>
            <div class="col-md-3 font-weight-bold py-5 px-3 bg-white rounded-lg">
                <h3>Don't See Your City? Call or Text!</h3>
                <a class="d-block btn btn-lg text-dark font-weight-bold mt-4" href="tel:+1112223333" role="button">(111) 222-3333</a>
                <a class="d-block btn btn-lg text-dark font-weight-bold" href="mailto:noone@email.com" role="button">Email Us!</a>
            </div>
        </div>
<!-- Footer -->
        <div class="row">
            <div class="col-md">
                <hr class="mt-5">
                <div class="row text-center font-weight-bold">
                    <div class="col-md mobileSpacing">
                        <p class="m-auto brand-font">Your Business Logo</p>
                    </div>
                    <div class="col-md mobileSpacing">
                        <p class="m-auto">License #000000</p>
                    </div>
                    <div class="col-md mobileSpacing">
                        <p class="m-auto">Contact or Copyright</p>
                    </div>
                    <div class="col-md">
                        <a class="m-auto" href="https://www.facebook.com" role="link" alt="Link to facebook" target="_blank" rel="noreferrer">Find Us On Facebook!<img src="../public/images/facebook_icon.png" alt="Facebook icon" class="ml-2"></a>
                    </div>
                </div>
                <hr class="mb-5">
            </div>
        </div>
    </div><!-- End of Container -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>